In [224]:
# imports! 
import pandas as pd
from sklearn import preprocessing

In [225]:
# grab our data
data = pd.read_csv('../data/games_work.csv')
data.head()

,rated,turns,victory_status,winner,white_rating,black_rating,opening_eco,opening_ply
0,False,13,outoftime,white,1500,1191,D10,5
1,True,16,resign,black,1322,1261,B00,4
2,True,61,mate,white,1496,1500,C20,3
3,True,61,mate,white,1439,1454,D02,3
4,True,95,mate,white,1523,1469,C41,5

rated, turns, victory status, winner, white_rating, black_rating, opening_eco, opening_ply

In [226]:
# define our processing function 

def enc_onh(cat, labels):
    encoder = preprocessing.LabelEncoder() # define the encoder
    enc_data = encoder.fit_transform(data[cat]) # fit it to our cat 
    data.drop(columns=[cat], inplace=True) # drop the original column 
    one_hot = preprocessing.OneHotEncoder(sparse=False) # define our one hot encoder
    transformed_data = one_hot.fit_transform(enc_data.reshape(-1,1)) #  fit it to our encoded data 
    # concat our data! pass it our original data, and the DataFrame version of our transformed data
    final = pd.concat([data,pd.DataFrame(data=transformed_data, index=range(len(transformed_data)), columns=labels)], axis=1)
    # return our final value
    return final

In [227]:

# opening ecos are all messed up, so we get the required labels programmatically
eco_full = data['opening_eco'].values # get all the values
eco_pruned = [] # define the pruned array 

# append the eco if its not already in eco_pruned 
[eco_pruned.append(eco) for eco in eco_full if eco not in eco_pruned] # man I love list comp

# we need this value to be 365 
print(len(eco_pruned))

365

In [228]:
# run our processing on victory status
data = enc_onh('victory_status', ['draw', 'mate', 'outoftime', 'resign'])
# run our processing on rated 
data = enc_onh('rated', ['rated_false','rated_true'])
data = enc_onh('winner', ['w_black','w_none', 'w_white'])
data = enc_onh('opening_eco', eco_pruned)


data.head()

,turns,white_rating,black_rating,opening_ply,draw,mate,outoftime,resign,rated_false,rated_true,...,D76,C04,D77,E68,C90,E35,E27,E48,C75,D19
0,13,1500,1191,5,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,16,1322,1261,4,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,61,1496,1500,3,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,61,1439,1454,3,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,95,1523,1469,5,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0