In [99]:
# imports! 
import pandas as pd
from sklearn import preprocessing 
from sklearn.preprocessing import LabelBinarizer

In [100]:
# grab our data
data = pd.read_csv('../data/games_work.csv')
data.head()

,rated,turns,victory_status,winner,white_rating,black_rating,opening_eco,opening_ply
0,False,13,outoftime,white,1500,1191,D10,5
1,True,16,resign,black,1322,1261,B00,4
2,True,61,mate,white,1496,1500,C20,3
3,True,61,mate,white,1439,1454,D02,3
4,True,95,mate,white,1523,1469,C41,5

rated, turns, victory status, winner, white_rating, black_rating, opening_eco, opening_ply

In [119]:
def enc_onh(cat):
    encoder = preprocessing.LabelEncoder()
    enc_data = encoder.fit_transform(data[cat])
#     data.drop(columns=[cat], inplace=True)
#     data[cat].replace(enc_data, inplace=True)
    one_hot = preprocessing.OneHotEncoder(sparse=False)
    transformed_vs = one_hot.fit_transform(enc_data.reshape(-1,1))
    data[cat] = transformed_vs
    print(transformed_vs)
    return data

In [120]:
# encoder = preprocessing.LabelEncoder()
# enc_data = encoder.fit_transform(data['opening_eco'])
# enc_data
enc_onh('opening_eco')

[[1. 0.]
 [1. 0.]
 [1. 0.]
 ...
 [1. 0.]
 [1. 0.]
 [1. 0.]]

,rated,turns,victory_status,winner,white_rating,black_rating,opening_eco,opening_ply
0,False,13,outoftime,white,1500,1191,1.0,5
1,True,16,resign,black,1322,1261,1.0,4
2,True,61,mate,white,1496,1500,1.0,3
3,True,61,mate,white,1439,1454,1.0,3
4,True,95,mate,white,1523,1469,1.0,5
...,...,...,...,...,...,...,...,...
20053,True,24,resign,white,1691,1220,1.0,2
20054,True,82,mate,black,1233,1196,1.0,2
20055,True,35,mate,white,1219,1286,1.0,3
20056,True,109,resign,white,1360,1227,1.0,4
20057,True,78,mate,black,1235,1339,1.0,3

,rated,turns,victory_status,white_rating,black_rating,opening_eco,opening_ply
0,False,13,outoftime,1500,1191,D10,5
1,True,16,resign,1322,1261,B00,4
2,True,61,mate,1496,1500,C20,3
3,True,61,mate,1439,1454,D02,3
4,True,95,mate,1523,1469,C41,5
...,...,...,...,...,...,...,...
20053,True,24,resign,1691,1220,A80,2
20054,True,82,mate,1233,1196,A41,2
20055,True,35,mate,1219,1286,D00,3
20056,True,109,resign,1360,1227,B07,4
20057,True,78,mate,1235,1339,D00,3

In [123]:
oh_victory_status = preprocessing.OneHotEncoder(sparse=False)
transformed_vs = oh_victory_status.fit_transform(enc_data.reshape(-1,1))
print(transformed_vs)
transformed_vs

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [39]:
oh_victory_status.transform(encoder.transform(['opening_eco']).reshape(-1,1))

ValueError: y contains previously unseen labels: ['opening_eco']

In [42]:
cat_features = ['rated', 'victory_status', 'opening_eco']
encoder = LabelBinarizer()
new_cat_features = encoder.fit_transform(cat_features)
new_cat_features

array([[0, 1, 0],
       [0, 0, 1],
       [1, 0, 0]])

In [44]:
from sklearn import preprocessing
cat_features = ['color', 'director_name', 'actor_2_name']
enc = preprocessing.LabelEncoder()
enc.fit(cat_features)
new_cat_features = enc.transform(cat_features)
print(new_cat_features) # [1 2 0]
new_cat_features = new_cat_features.reshape(-1, 1) # Needs to be the correct shape
ohe = preprocessing.OneHotEncoder(sparse=False) #Easier to read
print(ohe.fit_transform(new_cat_features))

[1 2 0]
[[0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]]