# Plan

-

In [ ]:
!pip install bpe

In [4]:
# imports


from google.colab import files
import pandas as pd
import io
import tensorflow as tf
from keras.preprocessing.text import Tokenizer
import numpy as np
import string
from keras.utils import to_categorical
from bpe import Encoder
from collections import defaultdict

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

In [3]:
# load data
uploaded = files.upload()

Saving babynames-clean.csv to babynames-clean.csv

In [71]:
names = pd.read_csv(io.BytesIO(uploaded['babynames-clean.csv']))
names.drop(names.columns[[1, 1]], axis=1, inplace=True) # drop genders

In [ ]:
##########################
#         BPE            #
##########################

corpus = names["John"].tolist() # to list ify

encoder = Encoder(800, pct_bpe=1)  # encode it all
encoder.fit(corpus) # fit it to the corpus

names["tokenized_names"] = names.apply(lambda row:encoder.tokenize(row["John"]), axis=1) # make the collumn

names.headd()

In [73]:
## find max_len

high = 0 # initialize high
high = names.apply(lambda row: max(high, len(row["tokenized_names"])), axis=1) # jank, could cut the max func here
max_len = max(high.tolist()) # take the highest len value
print(max_len)

In [ ]:
##########################
#       Padding          #
##########################

names["padded"] = names.apply(lambda row: row["tokenized_names"]+(max_len - len(row["tokenized_names"]))*["__pad"], axis=1) # pad em

names.head()

In [122]:
##########################
#       Tokenize         #
##########################

tok = defaultdict(lambda: len(tok)) # define the default dict. add one to deal with new keys

names["toked"] = [[tok[j] for j in i] for i in names["padded"].tolist()] # tokenize it!

names.head()

      John  ...                                            one_hot
0  William  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
1    James  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
2  Charles  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
3   George  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4    Frank  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

[5 rows x 5 columns]

In [123]:
##########################
#       One Hot          #
##########################

names["one_hot"] = names.apply(lambda row: to_categorical(row["toked"], num_classes=len(tok)), axis=1) # one hot it! num_classes is len of tok 

names.head()

434

      John  ...                                            one_hot
0  William  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
1    James  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
2  Charles  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
3   George  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4    Frank  ...  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

[5 rows x 5 columns]

In [6]:
###################################
#     Model :clap: Time :clap:    #
###################################


class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        # layers

    def forward(self, x):
        # model structure
        # x = 
        return x


net = Net()

In [8]:
###################
#   OPTIMIZER     #
###################


criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(net.parameters(), lr=0.001)

ValueError: ignored